pre {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
    
code {
	background-color: rgb(245, 245, 245);
}

/* Modified */
.highlight-yellow {
	background-color: rgba(255, 255, 0, 0.2);
}

/* Moved */
.highlight-blue {
	background-color: rgba(0, 0, 255, 0.2);
}

/* Inserted */
.highlight-green {
	background-color: rgba(0, 255, 0, 0.2);
}

/* Deleted */
.highlight-red {
	background-color: rgba(255, 0, 0, 0.2);
}

ol {
    margin: 0 0 0 33px;
}

ol li {
    padding-left: 12px;
}